
.client-block {
	margin-bottom: 3.75rem;
	h3 {
		margin-top: 0;
		a {
			color: #212121;
		}
	}
}

.client-logo {
	img {
		height: 100%;
		width: 100%;
	}
	&.mms-logo img  {
		height: auto;
		width: 100px;
	}
}

