
// Text and fonts
.underline {
	text-decoration: underline;
}

.uppercase {
	text-transform: uppercase;
}

.pad-bottom {
	padding-bottom: 4rem;
}

.row.full-screen {
	max-width: 100%;
}

.circular {
	border-radius: 50% 50% 50% 50%;
}