.masthead {	
	padding: 8rem 0 6rem;
	position: relative;
  	background: url(../images/bg2.jpg);
  	-webkit-background-size: cover;
  	background-size: cover;
}
.masthead h1,
.masthead h1 a,
.masthead h2,
.masthead p {
	color: #fff;
}
.masthead h2 {
	opacity: 0.5;
}
