nav {
	position: fixed;
	top: 1.5rem;
	right: 2rem;
	display: block;
	z-index: 999;
}

nav a {
	color: #fff;
	opacity: 0.75;
	transition: opacity 0.5s ease;
}

nav a:hover {
	color: #fff;
	opacity: 1;
}